<!-- Font Awesome CDN for icons -->

<style>
  .search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    border: 1px solid #ccc;
    min-width: 300px; /* Makes the input wider */
  }

  .navbar {
    background-color: #f8f9fa;
  }

  .navbar-brand {
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link {
    color: #333;
    margin-right: 10px;
  }

  .navbar-nav .nav-link:hover {
    color: #fe424d;
  }

  .center-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Make sure relative positioning is set up */
  .navbar-collapse {
    position: relative;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Left side -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Center search -->
      <div class="center-search">
        <form class="d-flex" role="search">
          <input class="form-control me-3 search-inp" type="search" placeholder="Search Destinations">
          <button class="search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>

      <!-- Right side -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if (currUser) { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>

    </div>
  </div>
</nav>
